@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Raleway:100&display=swap');



html {
  height: 100%;
  background: linear-gradient(to bottom right, #2a2a2a, #1a1a1a);
}

.center {
  
  font-size: 4vw;
  font-family: 'Open Sans';
  color: #FFFFFF;
  

  text-align: center;
  position: relative;
  animation: fadeInDown 0.75s ease-out forwards;

  
}

@keyframes fadeInDown {
  0% {
    top: 10vw;
    opacity: 0;
  }

  100% {
    top: 15vw;
    opacity: 1;

  }
}

#container {
  
  font-size: 2.5vw;
  font-family: Raleway;
  color: rgb(255, 255, 255);
  
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: row;

  
}

.about {
  
  flex: 0 1 25%;
  color: inherit;
  position: relative;
  text-decoration: inherit;
  animation: fadeInDown-Menu 1.25s ease-out forwards;
  
} 

.about:hover {
  color: inherit;
}

.about:before {
  background-color: white;
  height: 1px;
  bottom: 0;
  left: 0;
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out 0s
}

.about:hover::before{
  transform: scaleX(0.75);
}



.portfolio {
  
  flex: 0 1 25%;
  color: inherit;
  position: relative;
  text-decoration: none;
  animation: fadeInDown-Menu 1.50s ease-out forwards;
}

.portfolio:hover {
  color:inherit
}

.portfolio:before {
  background-color: white;
  height: 1px;
  bottom: 0;
  left: 0;
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out 0s
}

.portfolio:hover::before{
  transform:scaleX(.85);
}

.contact {
  
  flex: 0 1 25%;
  color: inherit;
  position: relative;
  text-decoration: none;
  animation: fadeInDown-Menu 1.75s ease-out forwards;

}

.contact:hover {
  color:inherit
}

.contact:before {
  background-color: white;
  height: 1px;
  bottom: 0;
  left: 0;
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out 0s
}

.contact:hover::before{
  transform:scaleX(.85);
}

.separator {
  flex: 0 1 25%;
  color: inherit;
}

@keyframes fadeInDown-Menu {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0; 
  }
  100% {
    opacity: 1;

  }
}
